<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilecontrol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.AddUpdReservaActivity"></activity>
        <activity
            android:name=".Activities.AdmReservaActivity"
            android:label="@string/title_activity_adm_reserva"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.AddUpdVehiculoActivity" />
        <activity
            android:name=".Activities.AdmVehiculoActivity"
            android:label="@string/title_activity_adm_vehiculo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ########################## Cliente ########################## -->
        <activity
            android:name=".Activities.AdmClienteActivity"
            android:label="Clientes"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AddUpdClienteActivity"
            android:label="Cliente" /> <!-- ########################## Agencia ########################## -->
        <activity
            android:name=".Activities.AdmAgenciaActivity"
            android:label="Agencias"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AddUpdAgenciaActivity"
            android:label="Agencia" />
    </application>
</manifest>